<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ericyl.example">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <permission
        android:name="com.ericyl.example.DOWNLOAD_PERMISSION"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ericyl.example.DOWNLOAD_PERMISSION" />

    <application
        android:name=".ExampleApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".receiver.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ericyl.example.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name=".content.ExampleContentProvider"
            android:authorities="com.ericyl.example.provider.content"
            android:exported="true" />

        <service
            android:name=".service.InitService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.ericyl.example.initService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.DownloadManagerService"
            android:enabled="true"
            android:exported="true"
            android:permission="@string/download_permission">
            <intent-filter>
                <action android:name="com.ericyl.example.DownloadManagerService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.HomeActivity"
            android:theme="@style/AppTheme.Translucent">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.TakePhotoActivity" />
        <activity
            android:name=".ui.activity.TakePhotoSettingActivity"
            android:label="@string/take_photo_setting_label" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activity.PhotoGalleryActivity" />
        <activity android:name=".ui.activity.ScanBarcodeActivity" />
        <activity android:name=".ui.activity.RecyclerViewActivity" />
        <activity android:name=".ui.activity.AESCryptoActivity" />
        <activity
            android:name=".ui.activity.SearchableActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Search">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".ui.activity.SearchableActivity" />

        <activity android:name=".ui.activity.RootActivity" />
        <activity android:name=".ui.activity.DownloadActivity" />
    </application>

</manifest>